@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

#loginContainer{
    padding-top: 200px;
}

#back{
    color: white;
}

#registerHome{
    width: 150px;
    transition: all 0.3s ease-in-out;
}


#registerHome:hover{
    transform: scale(1.2);
    background-color: red;
}

body{
    overflow-y: hidden;
    font-family: 'Russo One', sans-serif;
}


#homeContainer{
    background-image: url("https://cdn.pixabay.com/photo/2022/12/14/15/08/serie-7655567_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.device{
    color: white;
    font-size: 150px;
}